
@{
    ViewBag.Title = "Index";
}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<style>
    h1 {
        font-family: Lucida Console;
        font-size: 40px;
        color: black;
    }

    .glyphicon-plus-sign {
        font-size: 32px;
        color: rgb(184,179,214);
        text-shadow: 2px 2px 4px #000000;
        text-align: match-parent;
        margin-top: 15px;
    }

    .glyphicon-minus-sign {
        font-size: 32px;
        color: rgb(184,179,214);
        text-shadow: 2px 2px 4px #000000;
        text-align: match-parent;
        margin-top: 15px;
    }

    .table {
        margin-left: 50px;
        margin-top: 0px;
        background-color: rgb(61,63,63);
        text-align: center;
        box-shadow: 2px 2px 8px #000000;
        color: white;
        padding: 40px;
        font-style: inherit;
        border-radius: 20px;
        border-color: white;
        border-style: solid;
        border-width: 30px;
        width: 90%;
    }

    th, td {
        margin-top: 15px;
        text-align: center;
        padding: 40px;
        padding-top: 20px;
        width: 10%;
    }
</style>

@section scripts {


    <script type="text/javascript">


        function päivitäListaus() {
            $.getJSON("/lampotila/getlist", null, function (json) {
                var HuoneLampotila = JSON.parse(json);

                var html = "";
                for (var index = 0; index < HuoneLampotila.length; index++) {
                    html += "<tr>" +
                        "<td>" + HuoneLampotila[index].HuoneID + "</td>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-minus-sign'></span></a></td>" +
                        "<td><a href='#'><span class='glyphicon glyphicon-plus-sign'></span></a></td>" +
                        "<td>" + HuoneLampotila[index].Lampotila + "</td>" +
                        "</tr>\r\n";
                }
                $("#LampoList tbody").html(html);

                //tästä lisätty


                //Lämpötilan laskeminen -1
                $(".glyphicon-minus-sign").click(function () {
                    // etsitään tiedot klikatulta riviltä

                    var HuoneID = $(this).parent().parent().prev().text();
                    $.getJSON("/lampotila/LampoMiinus/" + HuoneID, null, function (status) {
                        if (status == true) {
                            päivitäListaus();
                        }
                        else {
                            alert("Lämpötilaa ei voi asettaa yli 90 astetta");
                        }
                    });
                });

                //lämpötilan nostaminen +1 astetta
                $(".glyphicon-plus-sign").click(function () {
                    // etsitään asiakkaan tiedot klikatulta riviltä

                    var HuoneID = $(this).parent().parent().prev().prev().text();
                    $.getJSON("/lampotila/lampoPlus/" + HuoneID, null, function (status) {
                        if (status == true) {
                            päivitäListaus();

                        }
                    });
                });
            });

        }

        $(function () {
            päivitäListaus();

        });

    </script>
}

<div class="w3-container text-center">
    <h1> Aseta lämpötila huoneeseen</h1>
    <p><span style="background-color:dimgrey; color:white; padding:5px;"> Lämpötilan voi asettaa 18 - 24 asteen välille</span></p>
    <div style="margin-top:50px; margin-bottom:200px;">
        <table class="table" id="LampoList">
            <thead>
                <tr>
                    <th>Tilanumero</th>
                    <th>Lämpötila</th>
                    <th>Nimi</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

