@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My ÄlyTalo App</h1>
    <p class="lead">Lisää tarvittaessa huoneita, tai poista huoneita.</p>
    <p class="btn btn-primary btn-lg"@Html.ActionLink("Hallitse tiloja", "Index", "Hallinta")></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Säädä talon valoja</h2>
        <p>
           Voit säätää talon valoja kolmella eri kirkkaudella päälle ja pois päältä toiminnon lisäksi.
        </p>
        <p><a class="btn btn-default btn-lg"@Html.ActionLink("Valot", "Index", "Valot")></a></p>
    </div>
    <div class="col-md-4">
        <h2>Hallitse saunaa</h2>
        <p>Voit laittaa saunan päälle ja pois. Lisäksi voit säätää saunan lämpötilan 5 asteen tarkkuudella. Maximi lämpötila on 90 astetta.</p>
        <p><a class="btn btn-default btn-lg" @Html.ActionLink("Sauna", "Index", "Sauna")></a></p>
    </div>
    <div class="col-md-4">
        <h2>Säädä huoneiden lämpotilaa</h2>
        <p>Voit asettaa asunnon lämpötilan 18 -24 asteen välille.</p>
        <p><a class="btn btn-default btn-lg" @Html.ActionLink("Lämmönsäätö", "Index", "LampoTila")></a></p>
    </div>
</div>